<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jose Edmar de Siqueira">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/fontawesome.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/brands.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/solid.css')}}">

    <title>{% block title %} Lancheria {% endblock %}</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">

        <div class="container-lg">

            <a class="navbar-brand" href="/">HOME</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                    id="navDrop">Cardápio</a>
                                <div class="dropdown-menu bg-gradient-primary">
                                    <a href="#" class="dropdown-item">Lanches</a>
                                    <a href="#" class="dropdown-item">Porções</a>
                                    <a href="#" class="dropdown-item">Bebidas</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sobre">Sobre</a>
                    </li>
                </ul>
                <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                            id="navDrop">Administração</a>
                        <ul class="dropdown-menu bg-gradient-primary">
                            <li></li><a href="#" class="dropdown-item">Cadastro Cliente</a>
                            <li></li><a href="#" class="dropdown-item">Cadastro User</a>
                            <li></li><a href="#" class="dropdown-item">Cadastro Lanche</a>
                        </ul>
                    </li>
                </ul> -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin %}
                                <a class="nav-link dropdown-toggle" href="#" id="navDrop" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Administração
                                </a>
                                <ul class="dropdown-menu bg-gradient-primary" aria-labelledby="navDrop">
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Cadastro</a>
                                        <ul class="dropdown-menu bg-gradient-primary">
                                            <li><a class="dropdown-item" href="/cadFuncionario">Funcionário</a></li>
                                            <li><a class="dropdown-item" href="#">Cliente</a></li>
                                            <li><a class="dropdown-item" href="#">Lanche</a></li>
                                            <li><a class="dropdown-item" href="#">Porção</a></li>

                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                    href="#">Item-Lanche</a>
                                                <ul class="dropdown-menu bg-gradient-primary">
                                                    <li><a class="dropdown-item" href="/cadfrios">Frios</a></li>
                                                    <li><a class="dropdown-item" href="#">Salada</a></li>
                                                    <li><a class="dropdown-item" href="#">Carne</a></li>
                                                    <li><a class="dropdown-item" href="#">Pão</a></li>
                                                </ul>
                                            </li>
                                            <!-- 
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second
                                                    subsubmenu</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                                </ul>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Consultar</a>
                                        <ul class="dropdown-menu bg-gradient-primary">
                                            <li><a class="dropdown-item" href="#">Funcionário</a></li>
                                            <li><a class="dropdown-item" href="/listarCliente">Cliente</a></li>

                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                href="#">Item-Lanche</a>
                                            <ul class="dropdown-menu bg-gradient-primary">
                                                <li><a class="dropdown-item" href="/listafrios">Frios</a></li>
                                                <li><a class="dropdown-item" href="#">Salada</a></li>
                                                <li><a class="dropdown-item" href="#">Carne</a></li>
                                                <li><a class="dropdown-item" href="#">Pão</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                    </li>
                                </ul>
                            {%endif%}
                        {%endif%}
                    </li>
                </ul>
                <div class="form-inline">
                    {%if current_user.is_authenticated %}
                        <a href="{{url_for('.logout')}}" class="btn btn-dark ml-4 mr-2" role="button">Logout</a>
                    {% else %}
                        <a href="{{url_for('.login')}}" class="btn btn-dark ml-4 mr-2" role="button">login</a>
                    {% endif %}
                </div>
                <!-- <form class="form-inline" action="/login">
                </form> -->

            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}


    <!-- footer fixed-bottom -->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-sm-3 my-3">
                <h3>Carnes</h3>
                <p class="text-justify">
                    Trabalhamos com o melhor das carnes preparando um blend que vai dar muito sabor ao Hamburguer.
                </p>
            </div>
            <div class="col-sm-3 my-3">
                <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script> -->
                <h3>Entrega</h3>
                <p class="text-justify">
                    Nossa entraga é realizada de foma rápida, para que você possa desfrutar o melhor do lanche ainda
                    quente, mas sempre com segurança para nossos motoboy.
                </p>
            </div>
            <div class="col-sm-3 my-3">
                <h3>Redes Socias</h3>
                <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                    <a href="https://www.facebook.com/lancheriagourmetsaocarlos/" target="_brank"
                        class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="https://www.instagram.com/lancheriagourmetsaocarlos/" target="_brank"
                        class="btn btn-outline-info"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="https://wa.me/message/26XQH6QANRVVP1" target="_brank" class="btn btn-outline-success"><i
                            class="fab fa-whatsapp"></i> Faça seu pedido</a>
                </div>
            </div>
            <div class="col-sm-3 my-3">
                <h3>Menu</h3>
                <div class="list-group text-center">
                    <a href="/" class="list-group-item list-group-item-action list-group-item-primary">HOME</a>
                    <a href="/cadastro"
                        class="list-group-item list-group-item-action list-group-item-primary">Cadastro</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Cardápio</a>
                    <a href="/sobre" class="list-group-item list-group-item-action list-group-item-primary">Sobre</a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <blockquote class="blockquote text-center">
                <p class="mb-0">O sucesso não é garantido, mas o fracasso é certo se vocẽ não estiver emocionamente
                    envolvido em seu trabaho.</p>
                <footer class="blockquote-footer">Biz Stone <cite title="Titulo"> Fundador do Twitter</cite></footer>
            </blockquote>
        </div>
    </div>


    <!--Script-->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.js')}}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script> -->
    <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
    <script src="{{ url_for('static', filename='js/relatorio.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jspdf_1.5.3_min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script> -->
</body>

</html>