{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block content %}
<div class="container-sm">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1 class="display-4">Sobre a lancheria Gourmet</h1>
            <p class="lead">Fundada no mês de junho de 2020, a Lancheria tem o proposito de entregar ao cliente o
                verdadeiro sabor do Hamburguer Artesanal.</p>
        </div>
        <div>


          

        </div>
    </div>
</div>
{% endblock %}